* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
}
.navbar-brand img {
  height: 50px;
}
.content {
  margin-left: 250px;
  margin-top: 60px;
  padding: 20px;
  transition: margin-left 0.3s;
}
.content.collapsed {
  margin-left: 0;
}
/* Sidebar start */
.sidebar {
  width: 250px;
  padding-top: 60px;
  transition: all 0.3s;
}
.sidebar a {
  padding: 10px 20px;
}
.sidebar a:hover {
  background-color: #937b49;
}
.sidebar .dropdown-menu {
  background-color: #343a40; /* Same as sidebar */
  border: none;
}
.sidebar .dropdown-menu a {
  padding-left: 40px; /* Indented submenu items */
}

.sidebar.collapsed {
  width: 0;
  overflow: hidden;
}

.active {
  background-color: #ffbe33;
}
/* sidebar dropdown toggle */
.toggle-icon {
  transition: transform 0.3s ease-in-out;
}
.rotated {
  transform: rotate(90deg);
}

/* Sidebar footer styles */
.sidebar-footer {
  background-color: #343a40;
}

/* Hiding the default dropdown caret */
.dropdown-toggle::after {
  display: none;
}

/* Main footer styles */
footer {
  padding: 10px 0;
  color: #6c757d;
  left: 250px;
  width: calc(100% - 250px);
}
