.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.03);
}
.badge-best {
  top: 10px;
  left: 10px;
  background: #d9534f;
  padding: 5px 10px;
  font-size: 14px;
}
.badge {
  background-color: #0add34;
}
.card-img-top {
  width: 100%;  /* Responsive Image */
  height: 200px; /* Set height to maintain aspect ratio */
  object-fit: cover;
}

#sidebar {
  height: 90vh;
  width: 150px;
  /* position: block; */
  overflow-y: auto;
  border-right: 1px solid #ddd;
  background-color: #343a40;
  scrollbar-width: none; /* For Firefox */
  margin-left: -5px;
}

#sidebar::-webkit-scrollbar {
  display: none; /* Hide sidebar's scrollbar For Chrome, Safari, and Edge */
}

.sidebar-link {
  text-align: center;
  color: white;
  padding: 10px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none; /* Removes underline */
}

.sidebar-link:hover {
  color: goldenrod;
  transform: scale(1.1); /* Slightly zoom in */
}

.sidebar-link.active {
  border-left: 4px solid goldenrod;
  background-color: rgba(188, 136, 5, 0.173);
  color: white;
  transform: scale(1.1); /* Keeps zoomed-in effect */
}

.sidebar-link.active:hover {
  color: white;
}

.sidebar-link img {
  width: 50px;
}

@media (max-width: 768px) {
  #sidebar {
    font-size: 0.8rem;
  }
}
.food-section-plp {
  height: 90vh;
  background-color: #f4f6fb;
  padding: 1.5rem;
  scrollbar-width: none;
  overflow-y: auto;
  width: calc(100% - 100px);
}
.food-section-plp::-webkit-scrollbar {
  display: none;
}

.footer_section {
  padding-top: 0;
}
